
        * {
            padding: 0;
            margin: 0;
            list-style: none;
            text-decoration: none;
        }

        .daojishi {
            height: 300px;
            background: url(../img/original.jpg)no-repeat center top;
        }

        .right {
            width: 1000px;
            /* margin: 30px auto 0px; */
            margin: 0 auto;
            text-align: right;
            animation: yidong 0.5s linear;
        }

        @keyframes yidong {
            0% {
                transform: translateX(200px) translateY(-100px);
                opacity: 0;
            }

            100% {
                transform: translate(0 0);
                opacity: 1;
            }
        }

        .right>h2 {
            font-size: 30px;
            font-weight: 400;
            color: white;
            padding-top: 30px;
        }

        .right>p:nth-of-type(1)>span {
            margin-left: 10px;
            margin-right: 0px;
            color: white;
            display: inline-block;
            padding: 5px 10px;
            margin-top: 20px;
            background-color: rgb(255, 209, 152);
        }

        .right>p:nth-of-type(2) {
            color: white;
            margin-top: 20px;
            font-size: 20px;
        }

        .right>button {
            width: 240px;
            height: 50px;
            background-color: rgb(255, 66, 41);
            border: none;
            color: white;
            margin-top: 20px;
            font-size: 25px;
        }

        .shiyong {
            width: 1100px;
            height: 288px;
            margin: 15px auto;
            margin-bottom: 50px;
        }

        .shiyong>p {
            margin-left: 60px;
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 600;
        }

        .swiper-slide>ul>li {
            width: 222px;
            height: 288px;
            float: left;
            margin-left: 30px;
            border: 1px solid rgb(229, 233, 233);
            border-radius: 10px;
            text-align: center;
            position: relative;
        }

        .swiper-slide>ul>li:nth-of-type(1) {
            margin-left: 60px;
        }

        .swiper-slide>ul>li>img {
            width: 100%;
            height: 130px;
            border-radius: 10px 10px 0 0;
        }

        .swiper-slide>ul>li>h2 {
            margin: 0 10px;
            text-align: center;
            font-size: 16px;
        }

        .swiper-slide>ul>li>p:nth-of-type(1) {
            margin-top: 10px;
        }

        .swiper-slide>ul>li>p:nth-of-type(1)>span {
            border: 1px solid red;
            border-radius: 5px;
            margin: 0 5px;
            color: red;
            font-size: 10px;
            padding: 2px 10px;
        }

        .swiper-slide>ul>li>p:nth-of-type(2) {
            margin: 5px 0;
        }

        .swiper-slide>ul>li>p:nth-of-type(2)>span {
            color: red;
        }

        .swiper-slide>ul>li>p:nth-of-type(3) {
            color: red;
            font-size: 14px;
        }

        .swiper-slide>ul>li:nth-of-type(2)>p:nth-of-type(1)>span {
            border: 1px solid rgb(103, 196, 111);
            border-radius: 5px;
            margin: 0 5px;
            color: rgb(103, 196, 111);
            font-size: 10px;
            padding: 2px 10px;
        }

        .swiper-slide>ul>li:nth-of-type(2)>p:nth-of-type(3) {
            color: rgb(142, 196, 111);
            font-size: 14px;
        }

        .jiaobiao {
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: rgb(255, 66, 41);
            color: white;
            font-size: 10px;
            padding: 5px;
            border-radius: 0 5px 0 5px;
        }

        .zhuanxiang {
            position: absolute;
            right: 0px;
            top: 0px;
            background-color: rgb(253, 244, 203);
            color: rgb(203, 168, 105);
            font-size: 10px;
            padding: 5px;
            border-radius: 0 5px 0 5px
        }

        .baogao {
            height: 590px;
            background-color: rgb(247, 247, 247);
        }

        .baogao-1 {
            width: 1000px;
            min-width: 1000px;
            margin: 10px auto;
        }

        .baogao-top {
            width: 100%;
            height: 32px;
            padding: 18px 0 16px;
            position: relative;
            font-size: 22px;
            font-weight: 800;
            line-height: 32px;
        }

        .baogao-top>a {
            position: absolute;
            right: 0px;
            color: red;
            font-size: 15px;
        }

        .baogao-top>a>img {
            margin-left: 10px;
        }

        .baogao-1>ul {
            width: 100%;
            height: 526px;
            padding-bottom: 20px;
        }

        .baogao-1>ul>li {
            float: left;
            width: 222px;
            height: 233px;
            margin-left: 34px;
            border: 1px solid rgb(229, 233, 233);
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: white;
        }

        .baogao-1>ul>li:nth-of-type(1) {
            margin-left: 0px;
        }

        .baogao-1>ul>li:nth-of-type(5) {
            margin-left: 0px;
        }

        .baogao-1>ul>li>img {
            width: 100%;
            height: 130px;
            border-radius: 5px 5px 0 0;
        }

        .neibian {
            margin-top: -5px;
            height: 88px;
            padding: 7px 10px 10px;
        }

        .neibian>p {
            font-size: 14px;
            height: 45px;
        }

        .neibian>div {
            padding: 10px 0;
            position: absolute;
            width: 200px;
            color: #a3a3a3;
        }

        .neibian>div>div {
            float: right;
        }

        .neibian>div>span {
            display: inline-block;
        }

        .neibian>div>span:nth-of-type(1) {
            font-size: 14px;
        }

        .daogou {
            width: 1000px;
            min-width: 1000px;
            margin: 0 auto;
        }

        .daogou>ul {
            width: 100%;
            height: 230px;
            margin-bottom: 20px;
        }

        .daogou>ul>li {
            width: 222px;
            height: 227px;
            float: left;
            margin-left: 34px;
            border: 1px solid rgb(229, 233, 233);
            border-radius: 5px;
        }

        .daogou>ul>li:nth-of-type(1) {
            margin-left: 0;
        }

        .daogou>ul>li>img {
            width: 100%;
            height: 130px;
            border-radius: 5px 5px 0 0;
        }

        .daogou>ul>li>div>div>div {
            float: right;
        }

        .daogou>ul>li>div {
            height: 88px;
            padding: 7px 10px 10px;
            background: url(./img/listbg.jpg) no-repeat left bottom;
        }

        .daogou>ul>li>div>p {
            font-size: 14px;
            color: #474747;
        }

        .daogou>ul>li>div>div {
            margin-top: 10px;
            width: 200px;
            height: 40px;
            line-height: 40px;
        }

        .daogou>ul>li>div>div>div>span {
            margin-right: 10px;
            color: #a3a3a3;
            font-size: 12px;
        }

        .faxian {
            width: 1000px;
            min-width: 1000px;
            margin: 0 auto;
            background-color: rgb(247, 247, 247);
        }

        .faxian-top {
            width: 100%;
            height: 32px;
            padding: 18px 0 16px;
            position: relative;
            font-size: 22px;
            font-weight: 800;
            line-height: 32px;
        }

        .faxian-top>a {
            position: absolute;
            right: 0px;
            color: red;
            font-size: 15px;
        }

        .faxian>ul {
            width: 100%;
        }

        .faxian>ul>li {
            width: 222px;
            height: 233px;
            border: 1px solid rgb(229, 233, 233);
            float: left;
            border-radius: 5px;
            margin-right: 34px;
            margin-bottom: 20px;
        }

        .faxian>ul>li:nth-child(4n) {
            margin-right: 0;
        }

        .faxian>ul>li>img {
            width: 100%;
            height: 130px;
            border-radius: 5px 5px 0 0;
        }

        .faxian>ul>li>div {
            height: 88px;
            padding: 7px 10px 10px;
        }
        .faxian>ul>li>div>p {
            font-size: 14px;
        }
        .faxian>ul>li>div>p>span {
           font-size: 12px;
           color:#a3a3a3;
        }
        .faxian>ul>li>div>div {
            /* margin-top: 10px; */
            display: inline-block;
            padding: 13px 0;
            width: 200px;
        }
        .faxian>ul>li>div>div>span {
            color: red;
            font-size: 14px;
        }
        .faxian>ul>li>div>div>div {
            display: inline-block;
            float: right;
        }
        .faxian>ul>li>div>div>div>span {
            margin-left: 10px;
            color:#a3a3a3;
        }
        
        .jiazai{
            width: 1000px;
            margin: 0 auto 50px;
            text-align: center;
            font-size: 15px;
        }
        .jiazai>a{
            color: red;
        }
    