* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.daojishi {
  margin-top: -5px;
  height: 300px;
  background: url(../img/original.jpg) no-repeat center top;
}
.right {
  width: 1000px;
  /* margin: 30px auto 0px; */
  margin: 0 auto;
  text-align: right;
  animation: yidong 0.5s linear;
}
@keyframes yidong {
  0% {
    transform: translateX(200px) translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translate(0 0);
    opacity: 1;
  }
}
.right > h2 {
  font-size: 30px;
  font-weight: 400;
  color: white;
  padding-top: 30px;
}
.right > p:nth-of-type(1) > span {
  margin-left: 10px;
  margin-right: 0px;
  color: white;
  display: inline-block;
  padding: 5px 10px;
  margin-top: 20px;
  background-color: #ffd198;
}
.right > p:nth-of-type(2) {
  color: white;
  margin-top: 20px;
  font-size: 20px;
}
.right > button {
  width: 240px;
  height: 50px;
  background-color: #ff4229;
  border: none;
  color: white;
  margin-top: 20px;
  font-size: 25px;
}
.liuc {
  width: 100%;
  height: 62px;
  background-color: #f0f0f0;
  padding: 20px 0;
}
.liuc .nr {
  width: 1000px;
  line-height: 1.6;
  margin: 0 auto;
}
.liuc .nr .lc {
  width: 43px;
  border-left: 5px solid red;
  padding-left: 11px;
  font-size: 20px;
  float: left;
}
.liuc .nr .fk {
  width: 940px;
  height: 64px;
  float: left;
}
.liuc .nr .fk ul {
  float: left;
}
.liuc .nr .fk ul .s5 {
  width: 188px;
  height: 64px;
  background-color: salmon;
  background: url(../img/use1.png) no-repeat center top;
  position: relative;
  float: left;
}
.liuc .nr .fk ul .s5 p {
  font-size: 12px;
  color: #737373;
  position: absolute;
  bottom: 0px;
  left: 70px;
  display: inline-block;
  border-bottom: 2px solid #fe5341;
}
.liuc .nr .fk ul .s1 {
  width: 188px;
  height: 64px;
  background-color: salmon;
  background: url(../img/use2.png) no-repeat center top;
  position: relative;
  float: left;
}
.liuc .nr .fk ul .s1 p {
  font-size: 12px;
  color: #737373;
  position: absolute;
  bottom: 0px;
  left: 70px;
  display: inline-block;
}
.liuc .nr .fk ul .s2 {
  width: 188px;
  height: 64px;
  background-color: salmon;
  background: url(../img/use3.png) no-repeat center top;
  position: relative;
  float: left;
}
.liuc .nr .fk ul .s2 p {
  font-size: 12px;
  color: #737373;
  position: absolute;
  bottom: 0px;
  left: 70px;
  display: inline-block;
}
.liuc .nr .fk ul .s3 {
  width: 188px;
  height: 64px;
  background-color: salmon;
  background: url(../img/use4.png) no-repeat center top;
  position: relative;
  float: left;
}
.liuc .nr .fk ul .s3 p {
  font-size: 12px;
  color: #737373;
  position: absolute;
  bottom: 0px;
  left: 70px;
  display: inline-block;
}
.liuc .nr .fk ul .s4 {
  width: 188px;
  height: 64px;
  background-color: salmon;
  background: url(../img/use5.png) no-repeat center top;
  position: relative;
  float: left;
}
.liuc .nr .fk ul .s4 p {
  font-size: 12px;
  color: #737373;
  position: absolute;
  bottom: 0px;
  left: 70px;
  display: inline-block;
}
.ku {
  width: 1000px;
  height: 2318px;
  margin: 0 auto;
  margin-top: 25px;
}
.ku .zb {
  width: 700px;
  height: 2285px;
  float: left;
}
.ku .zb .cpjs {
  width: 700px;
  height: 66px;
  position: relative;
  padding: 18px 0 16px 16px;
  font-size: 20px;
  box-sizing: border-box;
}
.ku .zb .cpjs p {
  width: 6px;
  height: 30px;
  background-color: red;
  display: block;
  position: absolute;
  left: 0px;
  top: 15px;
}
.ku .zb .duoc {
  width: 700px;
  height: 1664px;
}
.ku .zb .duoc p {
  line-height: 1.6;
}
.ku .zb .duoc p img {
  margin-top: 10px;
}
.ku .zb .duoc p span {
  font-weight: 600;
}
.ku .zb .duoc .ys {
  color: red;
  font-size: 18px;
  font-weight: 900;
}
.ku .zb .duoc .l {
  color: #0070c0;
  font-weight: 700;
}
.ku .zb .duoc .l1 {
  color: #0070c0;
}
.ku .zb .duoc .l2 {
  color: red;
  font-weight: 600;
}
.ku .yb {
  width: 270px;
  height: 922px;
  float: right;
}
.ku .yb .cp {
  width: 270px;
  height: 25px;
  position: relative;
  font-size: 18px;
  padding-left: 30px;
}
.ku .yb .cp p {
  width: 6px;
  height: 25px;
  background-color: red;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
}
.ku .yb .qian {
  font-size: 40px;
  color: red;
  padding: 20px 0 15px;
}
.ku .yb button {
  height: 48px;
  width: 100%;
  background-color: red;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  border: 0;
}
.ku .yb .lz {
  font-size: 14px;
  color: #a3a3a3;
  text-align: center;
  margin: 10px;
}
.ku .yb .fl {
  margin: 10px 0 20px;
}
.ku .yb .fl .f1 {
  font-size: 16px;
  padding: 5px 0;
  font-weight: 700;
}
.ku .yb .fl .f2 {
  color: #a3a3a3;
  font-size: 14px;
}
.ku .yb .gz img {
  margin-top: 20px;
  margin-left: -30px;
}
.k10 {
  width: 1000px;
  height: 378px;
  margin: 0 auto;
  overflow: hidden;
}
.k10 .k11 {
  position: relative;
  padding: 18px 0 16px;
  font-size: 20px;
  font-weight: bold;
  float: left;
}
.k10 .k11 a {
  font-weight: normal;
  position: absolute;
  right: -900px;
  top: 22px;
  padding-right: 17px;
  font-size: 14px;
  background: url(../img/readMore.png) no-repeat 61px 4px;
  color: red;
}
.k10 ul {
  width: 1000px;
  height: 1000px;
  margin-top: 60px;
}
.k10 ul li {
  width: 222px;
  height: 288px;
  float: left;
  margin-left: 30px;
  border: 1px solid #e5e9e9;
  border-radius: 10px;
  text-align: center;
  position: relative;
}
.k10 ul li:nth-of-type(1) {
  margin-left: 8px;
}
.k10 ul li:nth-of-type(2) > p:nth-of-type(1) > span {
  border: 1px solid #67c46f;
  border-radius: 5px;
  margin: 0 5px;
  color: #67c46f;
  font-size: 10px;
  padding: 2px 10px;
}
.k10 ul li:nth-of-type(2) > p:nth-of-type(3) {
  color: #8ec46f;
  font-size: 14px;
}
.k10 ul li .jiaobiao {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #ff4229;
  color: white;
  font-size: 10px;
  padding: 5px;
  border-radius: 0 5px 0 5px;
}
.k10 ul li .zhuanxiang {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #fdf4cb;
  color: #cba869;
  font-size: 10px;
  padding: 5px;
  border-radius: 0 5px 0 5px;
}
.k10 ul li img {
  width: 100%;
  height: 130px;
  border-radius: 10px 10px 0 0;
}
.k10 ul li h2 {
  margin: 0 10px;
  text-align: center;
  font-size: 16px;
}
.k10 ul li P:nth-of-type(1) {
  margin-top: 10px;
}
.k10 ul li P:nth-of-type(1) span {
  border: 1px solid red;
  border-radius: 5px;
  margin: 0 5px;
  color: red;
  font-size: 10px;
  padding: 2px 10px;
}
.k10 ul li P:nth-of-type(2) {
  margin: 10px 0;
}
.k10 ul li P:nth-of-type(2) span {
  color: red;
}
.k10 ul li P:nth-of-type(3) {
  color: red;
  font-size: 14px;
}
