* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

.box {
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;

    /*两大部分*/
    .in-h {
        width: 100%;
        margin: 0 auto;
        border-bottom: 1px solid #f0f0f0;

        h1 {
            font-size: 40px;
            font-weight: 400;
            padding: 20px 0;
            text-align: center;
        }

        p {
            width: 30%;
            margin: 0 auto;
            height: 50px;
            line-height: 50px;
            text-align: center;
            padding-bottom: 4px;

            a {
                float: left;
                text-align: center;
                width: 50%;
                font-size: 18px;
                color: rgb(163, 163, 172);


            }

            .d_a {
                color: rgb(254, 89, 49);
                border-bottom: 4px solid rgb(254, 84, 49);
            }
        }
    }
}